* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  padding: 20px;
  background: rgb(194, 185, 185);
  min-height: 100vh;
}

/* Heading */
h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 20px;
}

/* Box */
.box {
  width: 550px;
  height: 550px;
  margin: auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

/* Image */
.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
  transition: 0.5s;
}

/* Content */
.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 18px;
  line-height: 1.6;
}
